.control-panel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  min-height: 150px;
}

.control-panel-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

  .control-panel-top-title {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: darkgrey;
  }

  .visual-focus-btn {
    padding: 10px;
    background-color: rgba(0,0,0,0.075);
    border-style: none;
    margin: 10px;
    font-size: 1em;
    border-radius: 5px;
    color: darkgrey;
    font-family: "Maven Pro";
    transition: 0.15s ease-in;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .visual-focus-btn.active {
    background-color: lightblue;
    color: white;
  }

  .visual-focus-btn:hover {
    transform: scale(1.1);
  }

  .visual-focus-btn:focus {
    outline: none;
  }

.control-panel-separator {
  height: 1px;
  width: 50%;
  background-color: lightgrey;
}
.control-panel-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 90%;
  flex: 1;
  min-height: 150px;
}

.control-panel-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 5px;
  margin-bottom: 10px;
  opacity: 0.35;
}

.control-panel-btn {
  border-style: none;
  padding: 7.5px 10px 7.5px 10px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;

  margin-left: 5px;
  margin-right: 5px;

  color: rgba(0,0,0,0.2);
  border-color: rgba(0,0,0,0.2);
  border-style: none;
  border-width: 1px;
  background-color: rgba(0,0,0,0.075);
  font-family: "Maven Pro";
  font-weight: bold;

  transition: 0.15s ease-in;
}

.control-panel-btn:hover {
  transform: scale(1.1);
}

.control-panel-btn:focus{
  outline: none;
}
