.app-header {
  display: flex;
  align-items: center;
  justify-content: center;

  top: 0;
  min-height: 60px;
  width: 100%;
  background-color: rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 2.5px 70px -2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2.5px 70px -2px rgba(0,0,0,0.2);
  box-shadow: 0px 2.5px 70px -2px rgba(0,0,0,0.2);

  z-index: 999;
}

.app-header-title {
  color: lightblue;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 1em;

}

.elit-link {
  transition: 0.15s ease-in;
}

.elit-link:hover {
  transform: scale(1.1);
}
