.visualization-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-top: 100px;
}

.ngrams-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 5;
}

.json-container {
  margin-left: 50px;
}
