.sentiment-filter-container {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.sentiment-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.sentiment-btns * {
  transition: 0.15s ease-in;
}

.control-panel-btn.sent-pos, .control-panel-btn.sent-neg {
  border-radius: 2.5px;
}

.control-panel-btn.sent-both {
  border-radius: 50%;
}

/****HOVER****/
.control-panel-btn.sent-pos-active {
  background-color: rgb(158,222,242);
  color: white;
  border-color: transparent;
}

.control-panel-btn.sent-neg-active {
  background-color: rgb(212,75,60);
;
  color: white;
  border-color: transparent;
}

.control-panel-btn.sent-both-active {
  background-color: rgba(112,112,112,1);
  color: white;
  border-color: transparent;
}

.control-panel-btn.sent-both-active.pos {
  color: rgb(158,222,242);
}

.control-panel-btn.sent-both-active.neg  {
  color: #FFA2A2;
;
}
