.entry-section-container {
  /*
  display: grid;
  */

  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  min-height: 100px;
  width: 50%;
  /*background-color: red;*/
}

.entry-section-container * {
  transition: 0.25s;
  font-family: "Maven Pro";
}

.entry-textarea {
  height: 50px;
  flex: 5;
  margin-right: 20px;
  border-radius: 10px;
  padding: 10px;
  resize: none;

  font-size: 1em;

  color: rgba(0,0,0,0.25);
  border-color: rgba(0,0,0,0.1);
  border-width: 2px;
  transition: 0.25s;
  min-width: 100px;
  border-style: solid;
}

.entry-textarea:focus{
  /*height: 100px;*/
  color: rgba(0,0,0,0.5);
  outline:0;
  border-color: white;
  -webkit-box-shadow: 0px 6px 40px -2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 6px 40px -2px rgba(0,0,0,0.3);
  box-shadow: 0px 6px 40px -2px rgba(0,0,0,0.3);
}

/******FLAGS******/
.input-options {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}


.input-format-section, .sentiment-model-section, .tokenization-section, .segmentation-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

.flag-title {
  font-size: 0.6em;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: darkgrey;
  margin-bottom: 5px;
}

.flag-btn {
  border-style: none;
  min-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;

  margin-left: 5px;
  margin-right: 5px;

  color: rgba(0,0,0,0.2);
  background-color: rgba(0,0,0,0.075);
  font-family: "Maven Pro";
  font-weight: bold;

  transition: 0.15s ease-in;
}

.flag-btn.entry-focused {
  background-color: white;
}

.flag-btn.active {
  background-color: lightblue;
  color: white;
  outline: none;
}

input[type=checkbox]:before {
  color: red;
}
/****PLACEHOLDER****/

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: lightgrey;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: lightgrey;

}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: lightgrey;

}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: lightgrey;

}
::-ms-input-placeholder { /* Microsoft Edge */
  color: lightgrey;
}

/****ANALYZE BUTTON****/

.analyze-text-btn {
  flex: 1;
  height: 40px;
  max-width: 250px;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: lightblue;


  background-color: transparent;
  color: lightblue;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}

.analyze-text-btn:hover {
  color: white;
  background-color: lightblue;
  border-color: lightblue;
  transform: scale(1.1);
  -webkit-box-shadow: 0px 6px 40px -2px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 6px 40px -2px rgba(0,0,0,0.25);
  box-shadow: 0px 6px 40px -2px rgba(0,0,0,0.25);


}
.analyze-text-btn:focus{
  outline: none;
}

.analyze-text-btn:active {
  transform: scale(1.05);
}

/****SEPARATOR****/
.separator {
  height: 2px;
  width: 90%;
  background-color: rgba(0,0,0,0.1);
}
